body {
    margin: 0;
    padding: 0;
}

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #121212;
}

.loginBox {
    width: 410px;
    height: 550px;
    background: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 40px 30px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px black;
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 20px !important;
    color: #1a2d34;
    text-transform: uppercase;
}

h3 {
    text-align: center;
    color: red;
}

.loginBox p {
    margin: 0;
    padding: 0;
    margin-top: 25px;
    color: #F52936;
    font-weight: bold;
}

.loginBox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginBox input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid #F52936;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 14px;
}

.loginBox input[type="submit"] {
    margin-top: 20px;
    border: none;
    outline: none;
    height: 40px;
    background: #1a2d34;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.loginBox input[type="submit"]:hover {
    cursor: pointer;
}

.loginBox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #1a2d34;
}

.loginBox a:hover {
    color: #F52936;
}

.lienExterne {
    color: #1a2d34;
}